Hi <%= @name %> <br/>
<br/>
<%= @buyer.name %> is interested by your item, for more detail , you can go to the following link<br/>
<br/>
<a href="<%= item_url(@item) %>"><%= item_url(@item) %></a><br/>
<br/>
Your Best Friend,<br/>
<a href="bartr-app.herokuapp.com">Bartr</a><br/>