Hi <%= @name %>

<%= @buyer.name %> is interested by your item, for more detail , you can go to the following link

<a href="<%= item_url(@item) %>"><%= item_url(@item) %></a>

Your Best Friend,
<a href="bartr-app.herokuapp.com">Bartr</a>