Hi <%= @buyer.name %><br/>
<br/>
<%= @name %> has confirmed that you have buy the product. Thanks for your using of our service.<br/>
<br/>
<a href="<%= item_url(@item) %>"><%= item_url(@item) %></a><br/>
<br/>
Your Best Friend,<br/>
<a href="bartr-app.herokuapp.com">Bartr</a><br/>