<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="#item-list" class="ui-btn-active">List</a></li>
      <li><a href="#item-map">Map</a></li>
   </ul>
  </div>
</div>
