<div data-role="header" data-position="fixed">
<% if content_for?(:top_left_nav) %>
  <%= yield(:top_left_nav) %>
<% else %>
   <a href="/items/new" data-mini="true" data-icon="plus" class="ui-btn-left" data-theme="e">Sell Stuff</a>
<% end %>
 <h1><a href="/">Bartr</a></h1>
 <a href="#settingsPopup" data-rel="popup" data-icon="gear" class="ui-btn-right" data-transition="fade"  data-iconpos="notext" data-mini="true" >Settings</a>
</div>

