<div data-role="page" id="item-list" class="item-list-page"  data-dom-cache="true">
  <%= render "layouts/application/header" %>
  <div class="item-list"></div>
  	 <%= render "layouts/application/footer" %>	 
</div>

<div data-role="page" id="item-map" class="item-map-page"  data-dom-cache="true">
  <%= render "layouts/application/header" %>
  <div class="item-map"></div>
  <%= render "layouts/application/footer" %>
</div>
