<div data-role="page" id="#item-list" class="item-list-page"  data-dom-cache="true">
  <div class="item-list"></div>
</div>

<div data-role="page" id="#item-map" class="item-map-page"  data-dom-cache="true">
  <div class="item-map"></div>
</div>
