<div data-role="page" id="item-list" class="item-list-page"  data-dom-cache="true">
  <%= render "layouts/application/header" %>
  <div class="item-list"></div>
  <%= render "layouts/application/footer" %>	 
</div>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBqCoJRNHHzZzNBSQkQWa2RsPdWRomf3es&sensor=false"></script>
 
<div data-role="page" id="item-map" class="item-map-page"  data-dom-cache="true">
  <%= render "layouts/application/header" %>
  <div class="item-map" id="map-canvas"></div>
  <%= render "layouts/application/footer" %>
</div>
