<% if is_owner?(item) %>
  <a href="unsale" data-role="button" data-mini="true" data-inline="true">Remove</a>

<% else %>
  <a href="email" data-role="button" data-mini="true" data-inline="true">Email to Owner</a>

  <a id="uninterest" href="<%= not_interested_in_item_url(item) %>" data-role="button" data-mini="true" data-theme="b" data-inline="true" class="<%= uninterest_button_class(item) %>">I Dont Want</a>
  <a id="interest" href="<%= interested_in_item_url(item) %>" data-role="button" data-mini="true" data-theme="b" data-inline="true" class="<%= interest_button_class(item) %>">I Want</a>

<% end %>