<div class="item">
  <div class="thumbnail">
    <img src="http://placekitten.com/80/80" />
  </div>

  <div class="details">
    <p class="title"><%= item.title %></p>
    <p class="desc"><span class="price"><%= item.price %></span> <%= item.desc %></p>
  </div>
</div>