<h1>Welcome to Bartr!</h1>

<ul data-role="listview">
  <li><a href="#item-map">View Items on Map</a></li>
  <li><a href="#item-list">View Items on List</a></li>
</ul>

<% content_for :footer do %>
  <%= render :partial => "dynamic_pages" %>
<% end %>

