<h1>Nearby Items</h1>
<a href="#item-list">Item List</a>
<ul data-role="listview" data-iscroll>
  <% @items.each do |item| %>
    <%= render :partial => "result_item", :locals => { :item => item } %>
  <% end %>
</ul>

<% content_for :footer do %>
  <%= render :partial => "dynamic_pages" %>
<% end %>

